body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: coral;
}

a:active{
    color: red;
}

blockquote{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.container{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

/* main-header */
.main-header{
    background-color: coral;
    width: 100%;


}

.logo img{
    position: relative;
    float: left;
    width:21%;
    padding: 15px;
}

.main-header .navigation{
    position: relative;
    float: right;
    width: 70%;
    margin-top:65px;
 /*   background-color: #333;
    border-top: 1px solid #fff;
    box-shadow: 5px 10px 8px #0000005e;*/
}

/* navigation*/

.navbar{
    position: relative;
    float: right;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:60%;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: uppercase;
    line-height: 1.8em;


}

.navbar li{
    position: relatives;
    display: block;
}

.navbar a{
    font-size: 20px;
    float: left;

    margin-right: 35px;


}

.navbar a:hover {
    color: darkgrey;
    text-align: center;
}

.navbar a:active {
    color:  rgb(104, 47, 0);
    text-align: center;
    text-decoration: underline;
}


/* showcase */

.bigshowcase{
    background-image: url('../images/Lebanese-Cuisine.jpg');
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    opacity: 0.8;
    padding: 25px;

}

#bigshowcase-overons{
    background-image: url('../images/showcase-overons.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;


}

.showcase{
    width: 50%;
margin: 0 auto;
}

.bigshowcase h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-shadow: 0 3px 5px coral; 
    font-size: 60px;
    font-weight: bolder;
    line-height: 1.3em;
    text-align: center;
    width: 55%;
    margin: 30px auto;
}

.bigshowcase p{

    color: #fff;
    text-shadow: 1px 1px #000; 
    font-size: 26px;
    font-weight: lighter;
    line-height: 1.0em;
    text-align: center;
}

.my-firstname{
    position: relative;
    float: left;
    width: 25%;
    padding: 5px;
    margin: 5px;
    
}

#firstname{
    width: 100%;
    border: 0px solid #000;
    text-align: center;
    font-size: 18px;
    height: 50px;
}

.my-lastname{
    position: relative;
    float: left;
    width: 25%;
    padding: 5px;
    margin: 5px;

}

#lastname{
    width: 100%;
    border: 0px solid #000;
    text-align: center;
    font-size: 18px;
    height: 50px;
}

.my-email{
    position: relative;
    float: left;
    width: 25%;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

#e-mailadres{
    width: 100%;
    border: 0px solid #000;
    text-align: center;
    height: 50px;
    font-size: 18px;
}

.showcase .button{
    position: relative;
    float: left;
    background-color: rgb(252, 82, 21);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 37px 0 0 10px;
    width: 15%;
}

input[type=submit]:hover {
    background-color: #fca686;
}

.send-button #send{
    border: 0px solid #000;
    text-align: center;
    height: 51px;
    font-size: 18px;
}


/* banner */

.banner{
    margin: 0 auto;
    background-color: rgb(2, 111, 11);
    height: 200px;
    padding: 25px;
    text-align: center;
    color: #fff;
    width: 92%;
}

.banner-showcase{
    width: 50%;
    margin: 0 auto;
}

.banner-my-email{
    position: relative;
    float: left;
width: 100%;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

#banner-emailadres{
    width: 60%;
    position: relative;
    float: left;
    border: 0px solid #000;
    text-align: center;
    height: 50px;
    font-size: 18px;
    margin-right: 50px;
}

.banner .button{
    position: relative;
    float: left;
    background-color: rgb(252, 82, 21);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    width: 30%;
}

input[type=submit]:hover {
    background-color: #fca686;
}

.banner-send-button #banner-send{
    border: 0px solid #000;
    text-align: center;
    height: 51px;
    font-size: 18px;

}

/* main content */
.welkom{
width: 75%;
height: 450px;
}

.welkom h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 24px;
color: #000;
line-height: 1.4em;
}



.menu {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    width: 75%;

}

.menu h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #000;
    line-height: 1.4em;
    }

#carousel{
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    margin: 0 auto;

}

.sfeer-banner_1{
    position: relative;
    float: left;
    width: 49%;


}
.sfeer-banner_2{
    position: relative;
    float: right;
    width: 49%;

}

.pc {
    height: 50px;
  }

#main-overons{
    position: relative;
    float: left;
    width: 70%;
    padding-bottom: 30px;
}

#main-overons h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color: rgb(252, 82, 21);
    line-height: 1.4em;
    }

/* sidebar */
#sidebar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    position: relative;
    float: right;
    margin-top: 50px;
    background: #ccc;
    color:#fff;
    border: 0px black solid;
    box-sizing: border-box;
    width: 22%;
    height: auto;
}
.sidebar-header{
    float: left;
    width: 100%;
    background: rgb(252, 82, 21);
}

#sidebar h1{
    text-align: center;
}

#sidebar h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(252, 82, 21);
    margin-left: 20px;
    margin-top: 80px;
}

#sidebar li{
    list-style-image: url('../images/check.png');
    padding: 5px;
    text-decoration: none;
}


/* sidebar over ons*/
#sidebar2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
    position: relative;
    float: none;
    background: #ccc;
    color:#fff;
    border: 0px black solid;
    box-sizing: border-box;
    width: 22%;
    height: auto;
}
.sidebar2-header{
    float: left;
    width: 100%;
    background: rgb(252, 82, 21);
}

#sidebar2 h1{
    text-align: center;
}

#sidebar2 h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(252, 82, 21);
    margin-left: 20px;
    margin-top: 80px;
}

#sidebar2 li{
    list-style-image: url('../images/check.png');
    padding: 5px;
    text-decoration: none;
}


.center {
    width: 95%;
    height: 300px;
}

.blocks{
    position: relative;
    float: none;
    width: 100%;

}

.blocks h1{
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #000;
    line-height: 1.4em;
}

.blocks #h3{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    color :rgb(162, 149, 149);
}


#hoofdgerechten{
    float: left;
    width: 25%;
    padding-bottom: 60px; 
}

#voorgerechten{
    width: 25%;
    float: left;
    word-break: normal;
}

#nagerechten{
    width: 25%;
    float: left;
    word-break: normal;
}

.keukengerei{
    width: 25%;
    position: relative;
    float: right;
    padding-right: 15px;
    padding-top: 20px;
}

#hoofd{
    float: left;
}

#voor{
    float: left;
}

#na{
    float: left;
}

#sidebar2{

    position: relative;
    float: right;

    color:#fff;
    border: 0px black solid;
}



#banner {
    position: relative;
    background-color: green;
    height: 150px;
    margin: 0;
    margin-left: 10%;
    margin-right: auto;
    width: 59%;
  } 

#banner h1{
      text-align: center;
      padding-top: 20px;
      color: #fff;
  }
  
.search {
    position: absolute;
    margin: 0 25%;
    background-color: #fff;
    border: 0px solid #73AD21;
    height: 35px;
    min-width: 20%;

}

#label{
    height: 35px;
    border: 0px solid #000;
    min-width: 450px;
    text-align: center;

} 

.search-button .button2 {
    position: absolute;
    float: right;
    margin: 0 67%;
    background-color: rgb(252, 82, 21);
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: 0px solid #73AD21;
    height: 38px;
    cursor: pointer;
}

input[type=submit-2]:hover {
    background-color: #fca686;
}

.main-footer{
    position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
    background-color: #333;
    color: #fff;
    text-align: left;
    margin-top: 100px;

}

#copy{
    float: left;
    margin-top: 80px;
}

#social{
    float: right;
    margin-top: 80px;
}

.fa {
    padding: 15px;
    font-size: 10px;
    width: 8px;
    height: 8px;
    text-align: center;
    text-decoration: none;
  }
  
.fa:hover {
      opacity: 0.7;
      color: #fff;
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* @media (max-width:600px)*/

@media (max-width:600px){

    #logo img{
        width:75%;
        padding: 0;
    }

#navbar {
     width: 100%;
}

#navbar a {
     width: 100%; 
     float: none;
     margin: 0 20px;
}

#navbar a:hover {
     width: 100%;
     float: none;
     padding: 0;
}

#showcase-test {
    width: 100%; 
    float: none;
}

#showcase{
    float: none;
}

#showcase h1{
    width: 100%; 
    float: none;
    padding: 0;
    font-size: 50px;
}

#showcase .my-search{
    width: 97%; 
    float: none;
}
  
#showcase .my-meal{
    width: 100%; 
    float: none;
}

#showcase .my-dishes{
    width: 100%; 
    float: none;
}

.my-meal #meals{
    width: 97%;
    border: 0px solid #000;
    text-align: center;
    min-height: 35px;
    padding-right: 15px;
}

.my-dishes #dishes{
    width: 97%;
    border: 0px solid #000;
    text-align: center;
    min-height: 35px;
}

.send-button #send{
    width: 100%; 
    float: none;;
}

#bigshowcase{
    background-image: url('../images/showcase.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    float: none;
}

#bigshowcase-overons{
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;

    float: none;
}

#main{
    width: 100%;
    float: none;
}

#main-overons{
    width: 100%;
    float: none;

}

#sidebar{
    width: 100%;
    float: none;
}

#sidebar-header{
     width: 100%;
     float: none;
     height: 35px;
}

#sidebar-2{
    width: 100%;
    float: none;
}

#sidebar-header-2{
     width: 100%;
     float: none;
     height: 35px;
}

.blocks{
     width: 100%;
     float: none;
}
#hoofdgerechten{
    width: 100%;
    float: none;
}
#voorgerechten{
    width: 100%;
    float: none;
}
#nagerechten{
    width: 100%;
    float: none;
}

#banner {
    width: 96%;  
    float: none;
    margin: 0 auto;

}

#banner .search {
    position: relative;
    float: right;
    padding-right: 0;
    height: 40px;
}


.search-button #button2 {
    position: absolute;
    float: right;
    padding-right: 0;
}
}