.container > div:nth-child(1n) {
  background-color: rgb(53, 22, 97);	
}

.container > div:nth-child(2n) {
  background-color:  rgb(53, 22, 97);
}

.container > div:nth-child(3n) {
  background-color: #ffffff;
}

.container > div:nth-child(4n) {
  background-color: #ffffff;
}

.container > div:nth-child(5n) {
  background-color: #ffffff;
}

.container > div:nth-child(6n) {
  background-color: rgb(53, 22, 97);;
}
